<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper site-footer-content grid grid-cols-2">
    <div>
      <div class="footer-heading">
        Get involved
      </div>
      <p>QGIS Australia is a diverse community of end-users, developers, professionals, academics, students, and hobbyists.  We welcome everyone and value the unique contributions of each individual.</p>
    </div>

      <div class="socials">
        {%- include social.html -%}
        <div class="button mt-1"><a href="https://groups.google.com/g/australian-qgis-user-group?pli=1" target="_blank">QGIS Australia discussion list</a></div>

      </div>
   </div>
</footer>
