<div class="feature">
  <div class="feature-image">
    <img src="/assets/img/home/champs.png" />
  </div>
  <div class="feature-display"></div>
  <div class="feature-text">
    <h3>Shout out!</h3>
    <p>This group wouldn't be here without the work of <a href="https://www.linkedin.com/in/nathanw/" target="_blank">Nathan Woodrow</a>, <a href="https://www.linkedin.com/in/nyall-dawson-18b6016a/" target="_blank">Nyall Dawson</a>, <a href="https://www.linkedin.com/in/andrew-jeffrey-00532a238/" target="_blank">Andrew Jeffrey</a>, <a href="https://www.linkedin.com/in/emma-hain-9a47b12a/" target="_blank">Emma Hain</a>, and <a href="https://www.linkedin.com/in/john-wesley-bryant/" target="_blank">John Bryant</a>, who've kept us going and helped build this community. We're looking forward to getting even more people involved in shaping QGIS Australia's future!</p>
  </div>
</div>