@charset "utf-8";

@font-face {
	font-family: "Lato";
	src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato Bold";
	src: url("../assets/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
	font-family: "RedHatRegular";
	src: url("../assets/fonts/RedHat/RedHatDisplay-Regular.ttf");
}

@font-face {
	font-family: "RedHat Bold";
	src: url("../assets/fonts/RedHat/RedHatDisplay-Medium.ttf");
}

$base-font-family: "RedHatRegular", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$bold-font-family: "Lato Bold", sans-serif;
$title-font: "RedHat Bold";
$display-font: "RedHat Bold";
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #2b2a2a !default;
$background-color: #ffffff !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 45%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$qgis-green: #589632;
$qgis-green-light: #93B023;
$qgis-orange: #EE7913;
$qgis-yellow: #F0E64A;
$desert-red: #A3291E;
$blue: #02a3a8;
$dark-contrast: #0F4C5C;
$gradient: linear-gradient(130deg, #e4938c, $desert-red);


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/custom"
;
